@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap-compass";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
}
h1 {

}
.starter-template {
  padding: 40px 15px;
}

form {
  .text-danger {
    color: #950e2d;
    margin-bottom: 10px;
  }
  .ng-invalid.ng-dirty {
    border-color: #950e2d;
  }
  .ng-valid.ng-dirty {
    border-color: #057553;
  }

  input, button {
    margin: 5px 0;
  }
}

fieldset {
  margin-top: 100px;
}
legend {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 20px;
  padding: 15px;
}
a {
  cursor: pointer;
}

.social-providers,
.sign-in-now,
.already-member,
.not-a-member {
  text-align: center;
  margin-top: 20px;
}

.user {
  margin-top: 50px;
}
.user .data {
  margin-top: 10px;
}

.form-control {
  border-radius: 0;
}

.alert-material {
  position: fixed;
  right: 12px;
  top: 62px;
  z-index: 1;
  display: inline-block;
  min-height: 48px;
  padding: 13px 24px 12px;
  font-family: 'Roboto', sans-serif;
  color: #f1f1f1;
  cursor: default;
  background: #323232;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

[class^='ion-'] {
  font-size: 1.2em;
}

.has-feedback .form-control-feedback {
  top: 14px;
  left: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #555;
}

.has-feedback .form-control {
  padding-left: 42.5px;
}

.btn {
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.btn-lg {
  font-size: 18px;
}

/*********************
* Animations
*********************/

.fadeZoom.ng-enter {
  -webkit-animation-duration: 0.6s, 0.2s;
  -moz-animation-duration: 0.2s, 0.2s;
  -ms-animation-duration: 0.2s, 0.2s;
  animation-duration: 0.2, 0.2s;
  -webkit-animation-name: fadeIn, zoomIn;
  -moz-animation-name: fadeIn, zoomIn;
  -ms-animation-name: fadeIn, zoomIn;
  animation-name: fadeIn, zoomIn;
}

.fadeZoomFadeDown.ng-enter {
  -webkit-animation-duration: 0.2s, 0.2s;
  -moz-animation-duration: 0.2s, 0.2s;
  -ms-animation-duration: 0.2s, 0.2s;
  animation-duration: 0.2s, 0.2s;
  -webkit-animation-name: fadeIn, zoomIn;
  -moz-animation-name: fadeIn, zoomIn;
  -ms-animation-name: fadeIn, zoomIn;
  animation-name: fadeIn, zoomIn;
}

.fadeZoomFadeDown.ng-leave {
  -webkit-animation: fadeOutDown 0.2s;
  -moz-animation: fadeOutDown 0.2s;
  -ms-animation: fadeOutDown 0.2s;
  animation: fadeOutDown 0.2s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    opacity: 1;
  }
}
