@()(implicit request: RequestHeader, user: Option[User])

@import forms.SignUpForm._
@implicitField = @{ helper.FieldConstructor(fields.constructor.f) }

@defining(form) { signUpForm =>
    <div class="content-area" ng-controller="SignUpCtrl">
        <div class="jumbotron">
            <h1>Sign Up</h1>
            <p>Create your demo account</p>
            <form name="form" id="signup-form" ng-submit="form.$valid && submit()" ng-model-options="{ updateOn: 'submit blur' }" novalidate>
                <span class="error" ng-show="form.$submitted && form.firstName.$error.required">The first name is required!</span>
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-user"></span>
                    @helper.inputText(signUpForm("firstName"),
                        'placeholder -> "First name",
                        'class -> "form-control",
                        '_label -> "",
                        'required -> "",
                        Symbol("ng-model") -> "firstName"
                    )
                </div>

                <span class="error" ng-show="form.$submitted && form.lastName.$error.required">The last name is required!</span>
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-user"></span>
                    @helper.inputText(signUpForm("lastName"),
                        'placeholder -> "Last name",
                        'class -> "form-control",
                        '_label -> "",
                        'required -> "",
                        Symbol("ng-model") -> "lastName"
                    )
                </div>
                <span class="error" ng-show="form.$submitted && form.email.$error.email">Please correct your email address!</span>
                <span class="error" ng-show="form.$submitted && form.email.$error.required">The email address is required!</span>

                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                    @helper.inputText(signUpForm("email"),
                        'type -> "email",
                        'placeholder -> "Email",
                        'class -> "form-control",
                        '_label -> "",
                        'required -> "",
                        'email -> "",
                        Symbol("ng-model") -> "email"
                    )
                </div>
                <span class="error" ng-show="form.$submitted && form.password.$error.required">The password is required!</span>
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-warning-sign"></span>
                    @helper.inputPassword(signUpForm("password"),
                        'placeholder -> "Password",
                        'class -> "form-control",
                        '_label -> "",
                        'required -> "",
                        Symbol("ng-model") -> "password"
                    )
                </div>
                <button id="submit" type="submit" value="submit" class="btn btn-primary btn-block">Submit</button>
                <span><br>Already a member? <a ui-sref="signin"> Sign in now </a></span>
            </form>
        </div>
    </div>
}


